.item {
    width: 100%;
    max-width: 875px; 
    height: auto;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    margin: 20px auto; 
    padding: 20px; 
}

.service_name {
    width: 100%; 
    font-family: Poppins;
    font-size: 25px; 
    font-weight: 600;
    text-align: left;
    color: #192f60;
    margin-bottom: 10px; 
}

.Image {
    width: 80%; 
    max-width: 280px; 
    height: auto; 
    border-radius: 23px;
    background-color: #ea6060;
    margin: 0 auto; 
    display: block; 
}

.name {
    width: 100%; 
    font-family: Poppins;
    font-size: 16px;
    text-align: left;
    color: #192f60;
    margin-top: 10px; 
}
.type{
    color:#ea6060;
}
.type1{
    color: black;
}



@media (max-width: 600px) {
    .service_name, .name {
        font-size: 20px; 
    }

    .Image {
        width: 90%; 
    }

    .item {
        padding: 10px; 
    }
}