.about {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    background-color: white;
}
h2{
    font-weight: bold;
}
.left, .right {
    flex: 1;
    padding: 10px;
}

.AboutContainer {
    /* Adjustments to AboutContainer for responsiveness */
    background: url(https://i.ibb.co/BBxjnC8/about-us-img-01.png);
    width: 500px;
    height: 500px;
    max-width: 550px;
    margin: auto;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-size: cover;
    position: relative;
    padding: 100px; 
}

.elementor-widget-container {
    padding: 20px;
    background-color: #fff; 
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
}

.video-popup-wrapper {
    cursor: pointer; 
    display: inline-flex; 
    justify-content: center; 
    align-items: center; 
    padding: 10px; 
    background-color: black; 
    border-radius: 50%; 
    width: 60px;
    height: 60px;
}

.swipebox-video {
    display: block; 
    text-decoration: none; 
}

.play-icon {
    fill: #007bff; 
    width: 20px; 
    height: auto; 
}

@media (max-width: 768px) {
    .about {
        flex-direction: column;
    }

    .left, .right {
        width: 100%;
    }

    .AboutContainer {
        height: auto;
    }
}

@media (max-width: 480px) {
    h2 {
        font-size: 1.5rem; /* Smaller font size */
    }

    p {
        font-size: 1rem; /* Smaller font size */
    }

    .AboutContainer {
        width: 100%; /* Takes a bit less space */
        height: 140%;
    }

    svg.play-icon {
        width: 20px; /* Smaller play icon */
        height: auto;
    }
}