.containers{
    padding: 4rem;
    background: #fff;
}
.quickSearchContainer{
    margin-left:115px;
    margin-top:50px
}

.quickSearchHeading{
    text-align: left;
    color: #192f60;
    font-size:30px;
    line-height: 1.5;
    font-weight: bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

/* .quickSearchSubHeading{
    text-align: left;
    color: gray;
    line-height: .01;
    letter-spacing: normal;
    font-size:18px;
    font-weight: normal;
    font-family:Georgia, 'Times New Roman', Times, serif;
} */


.tileContainer{
    box-shadow: 15px 15px 10px black;
    margin-right: 30px;
    margin-bottom: 30px;
    width:400px;
    height: 150px;
    background-color: white;
    display: inline-block;
    
}

.tileComponent1{
    width:50%;
    float: left;
}

.tileComponent1>img{
    height:150px;
    width:160px
}
.tileComponent2{
    width:50%;
    float: left;
    margin-top: 20px;
}


.componentHeading{
    text-align: left;
    color:#192f60;
    font-size:18px;
    font-weight: bold;

}

.componentSubHeading{
    text-align: left;
    color:gray;
    font-size:14px
}
@media (max-width: 600px) {
    .quickSearchContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }
    
    .tileContainer {
        display: flex;
        margin: 10px;
        border: 1px solid #ddd;
        overflow: hidden; /* Helps with handling the image */
        width:300px;
        height: 150px;
        margin-left: -100px;
    }
    
    .tileComponent1 img {
        max-width: 100%;
        height: auto;
        display: block; /* Helps with handling the image */
    }
    
    .tileComponent2 {
        padding: 10px;
        flex-grow: 1; /* Ensures this part takes up the remaining space */
    }
    
    /* Ensure text doesn't overflow on smaller screens */
    .componentHeading {
        word-wrap: break-word;
    }
    
    /* Basic responsive typography */
    .quickSearchHeading {
        text-align: center;
        margin-left: -100px;
    }
    
    .quickSearchSubHeading {
        display: none;

    }
    
}