.servicequicksearch {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.left, .right {
    flex: 1;
}

.ServiceQuickSearchContainer {
    /* Styles for the container */
    background: url(https://i.ibb.co/NtcGtmD/seo11.jpg);
    width: 500px;
    height: 400px;
    max-width: 550px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-size: cover;
    position: relative;
    padding: 20px;
}

.wrapper3 {
    padding: 20px;
}
p,p5{
    text-align: left;
    color: black;
    letter-spacing: normal;
    font-size:15px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

/* Reduce padding and adjust layout on smaller screens */
@media (max-width: 768px) {
    .servicequicksearch {
        flex-direction: column;
        padding: 10px;
    }

    .left, .right {
        flex: none; /* Disable flex to stack them */
        margin-bottom: 20px;
    }

   
}

/* Further adjustments for very small screens */
@media (max-width: 480px) {
    .servicequicksearch {
        padding: 5px;
    }

    .left h2, .right p {
        font-size: 14px; /* Smaller font sizes for smaller devices */
    }
    .ServiceQuickSearchContainer {
        
            width: 100%; /* Takes a bit less space */
            height: 100%;
            padding: 50%;
      

    }
}