.panel {
    margin: 10px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

.panel-heading h7 {
    font-size: 2rem; 
}

.panel-body {
    padding: 15px;
}

.img-responsive {
    max-width: 100%; 
    height: auto; 
    padding: 15px;
}

.btn {
    display: block; 
    width: auto; 
    margin: 10px 0; 
}


@media (max-width: 768px) {
    .panel-heading h7 {
        font-size: 1.5rem; 
    }
    
   
}


@media (max-width: 480px) {
    .panel-heading h7 {
        font-size: 1.2rem; 
    }
    
   
    .btn {
        margin: 5px 0; 
    }
}