
  h3 {
    margin: 4rem auto 4rem;
  }
  
  .img{
    height: 110px;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 320px;
    margin: auto 1rem;
    text-align: center;
    font-family: arial;
    img {
     height: 95px;
    
    }
  }
  
  /* .price {
    color: grey;
    font-size: 22px;
  } */
  
  
  
 
  .placementofferedHeading{
    text-align: left;
    color: #192f60;
    font-size:30px;
    line-height: 1.5;
    font-weight: bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
  }


  @media (max-width: 600px) {
    .placementofferedContainer {
      padding: 10px;
    }
    .placementofferedHeading {
      font-size: 16px;
    }
  }